RewriteEngine on
RewriteCond $1 !^(index\.php|js|css|images|blog|gif|jpg|png|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 