<html>
	<head>
	<title>Contact Us</title>
	</head>
	<body style='margin: 10px; font-family:arial; '>
	
	<table  style='padding: 5px; background: none repeat scroll 0 0 hsl(18, 90%, 88%);  width: 800px; border-radius: 10px; border:1px solid #21458F;'>
	<tr><td colspan="2" ><img src='[IMAGE_PATH]'></td></tr>
	
	<tr><td>

		<table border='1' style='padding: 5px; width: 100%; background: none repeat scroll 0 0 hsl(18, 90%, 88%); margin:auto; font-family: Arial, Helvetica, sans-serif; font-size: 13px;'>
		<tr><td>

		<p style=' margin: 5px;'>Hi Admin , </p>
		<p style='text-indent:50px;'>Mr/Ms [CUSTOMER_USERNAME] send you following message : </p> 

		
		<table  style='text-indent:50px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;'>
		
		<tr>
		<td width='30%'><strong>Name</strong></td>
		<td width='5%'>&nbsp;</td>
		<td align='55%'>[CUSTOMER_USERNAME]</td>
		</tr>
          <tr>
		<td width='30%'><strong>Email</strong></td>
		<td width='5%'>&nbsp;</td>
		<td align='55%'>[EMAIL]</td>
		</tr>
         <tr>
		<td width='30%'><strong>Message</strong></td>
		<td width='5%'>&nbsp;</td>
		<td align='55%'>[DESCRIPTION]</td>
		</tr>
		

		</table>

		<p style=' margin: 20px 0 10px 10px;'> Thank You, <br/>
		[CUSTOMER_USERNAME] </p>
			
		</td></tr></table>

	</td></tr>

	<tr>
	<td style='color: #000000; float: left; font-size:10px; margin-top: 10px; padding: 8px 10px 5px; width: 500px; text-align:center'>

	</td></tr>
	</table>

	</body>
</html> 
